:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 50px;
  padding: 0 11px;
  border-radius: 3px;
  box-shadow: 0 2px 5px black;
  background: url('assets/red-tree.jpg') 0 top / contain;
  font-style: italic;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 293px;
}

h1 {
  font-weight: inherit;
  text-shadow: 0 0 4px white;
}
